* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
img {
  border-radius: 10px;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.img-container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  padding: 10px;
}
